img {
	max-width: 100%;
	height: auto;
}

iframe {
	width: 100%;
}

body {
	font-family: sans-serif !important;
	color: #555 !important;
}

html {
	font-size: 15px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	border: none !important;
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

.l-footer {
	width: 100%;
	margin: 0 auto;
}

.p-footer {
	padding-top: 24px;
	background: none;
}

.p-footer-nav {
	padding: 0;
}

.p-footer-nav-list li,
.p-footer-accordion-label,
.p-footer-copyright {
	background: #2f303a;
	color: #fff;
}

.p-footer-accordion-label {
	position: relative;
	top: 0;
	bottom: 0;
	margin-top: 1px;
}

.p-footer-accordion-label::after {
	display: inline-block;
	content: '';
	position: absolute;
	top: 10px;
	right: 16px;
	width: 12px;
	height: 12px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.p-footer-link,
.p-footer-copyright {
	display: block;
	padding: 12px 16px;
	font-size: 0.875rem;
	color: #fff;
}

.p-footer-copyright {
	margin-top: 1px;
}

.p-footer-menu-child {
	margin: 0;
}

.p-footer-menu-child li:first-child {
	display: none;
}

.p-footer-nav-list-accordion li {
	max-height: 0;
	margin-bottom: 0;
	overflow-y: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.p-footer-nav-list-accordion li a {
	display: block;
	padding: 12px 16px;
	font-size: 0.875rem;
	color: #000;
}

.p-footer-nav-list-accordion li a:hover {
	color: #000;
	opacity: 0.6;
}

#p-footer-accordion-label:checked ~ .p-footer-nav-list-accordion li {
	max-height: 50px;
	opacity: 1;
}

#p-footer-accordion-label:checked + .p-footer-accordion-label::after {
	display: inline-block;
	content: '';
	position: absolute;
	top: 16px;
	right: 16px;
	width: 12px;
	height: 12px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.p-banner {
	padding: 0 4px;
}

.l-header {
	width: 100%;
	margin: 0 auto;
	border-bottom: none;
}

.l-header-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.p-header {
	position: fixed;
	z-index: 2;
}

.p-header-inner {
	padding: 16px 20px;
}

.p-header-logo {
	width: 48px;
	margin-right: auto;
}

.p-header-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.p-header-nav-unshown {
	display: none;
}

.p-header-icon {
	width: 20px;
}

.p-header-icon:not(:last-child) {
	margin-right: 16px;
}

.p-header-search {
	position: relative;
}

.p-drawer {
	display: none;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 3px -3px 3px -3px rgba(0, 0, 0, 0.4);
	box-shadow: 3px -3px 3px -3px rgba(0, 0, 0, 0.4);
	position: relative;
	top: -15px;
}

.p-drawer.is-active {
	display: block;
}

.p-drawer-inner {
	padding: 16px 16px 56px;
}

.p-drawer-searchBar {
	text-align: center;
}

.p-drawer-searchBox {
	padding-top: 32px;
}

.p-drawer-searchBox .s-box {
	position: relative;
	display: block;
	width: 100%;
}

.p-drawer-searchBox input[type='text'] {
	width: 100%;
	height: 32px;
	line-height: 32px;
	padding: 0 12px;
	background: #eee;
	border: none;
	border-radius: 32px;
}

.p-drawer-searchBox #searchsubmit {
	position: absolute;
	top: 9px;
	right: 12px;
	background: url(images/icon_search.png) no-repeat;
	background-size: contain;
	border: none;
}

.p-drawer-nav {
	padding-top: 32px;
}

.p-drawer-nav-item:not(:first-child) {
	padding-top: 40px;
}

.p-drawer-nav-item-title {
	font-size: 1.25rem;
}

.p-drawer-nav-item-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 16px;
}

.p-drawer-nav-item-list::before {
	content: '';
	display: block;
	width: 23%;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.p-drawer-nav-item-list::after {
	content: '';
	display: block;
	width: 23%;
}

.p-drawer-nav-item-list li {
	width: 23%;
	padding: 16px 0;
}

.p-drawer-nav-item-list a {
	display: block;
}

.p-drawer-nav-item-list img {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto;
	border-radius: 100%;
}

.p-drawer-nav-item-list-name {
	display: block;
	padding-top: 8px;
	text-align: center;
	font-size: 0.75rem;
}

.p-drawer-nav-item-list-categoly img {
	padding: 10px;
	background-color: #f6f5f3;
}

.p-category-nav {
	padding: 16px 0;
	overflow-x: scroll;
}

.p-category-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: 135%;
}

.p-category-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 84px;
	height: 72px;
}

.p-category-list li a {
	display: block;
}

.p-category-list li a.router-link-exact-active::before {
	background-color: #3ea0c1;
}

.p-category-list li a.router-link-exact-active.-pickup::before {
	background-image: url(images/icon_pickup_on.svg);
}

.p-category-list li a.router-link-exact-active.-traveler::before {
	background-image: url(images/icon_traveler_on.svg);
}

.p-category-list li a.router-link-exact-active.-fashion::before {
	background-image: url(images/icon_fashion_on.svg);
}

.p-category-list li a.router-link-exact-active.-food::before {
	background-image: url(images/icon_food_on.svg);
}

.p-category-list li a.router-link-exact-active.-spot::before {
	background-image: url(images/icon_spot_on.svg);
}

.p-category-list li a.router-link-exact-active.-all::before {
	background-image: url(images/icon_all_on.svg);
}

.p-category-list li a::before {
	display: block;
	content: '';
	width: 48px;
	height: 48px;
	margin: 0 auto;
	background-color: #f6f5f3;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	border-radius: 50%;
}

.p-category-list li a.-pickup::before {
	background-image: url(images/icon_pickup.svg);
}

.p-category-list li a.-traveler::before {
	background-image: url(images/icon_traveler.svg);
}

.p-category-list li a.-fashion::before {
	background-image: url(images/icon_fashion.svg);
}

.p-category-list li a.-food::before {
	background-image: url(images/icon_food.svg);
}

.p-category-list li a.-spot::before {
	background-image: url(images/icon_spot.svg);
}

.p-category-list li a.-all::before {
	background-image: url(images/icon_all.svg);
}

.p-category-list-name {
	display: inline-block;
	width: 100%;
	padding-top: 8px;
	text-align: center;
	font-size: 0.6875rem;
}

.p-main {
	padding-bottom: 136px;
}

.p-main-content {
	position: relative;
	top: 55px;
}

.c-accordion-label {
	display: block;
	cursor: pointer;
}

.c-accordion-check {
	display: none;
}

.c-account_link {
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.c-account_link::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -32px;
	margin: auto;
	display: inline-block;
	content: '';
	width: 24px;
	height: 24px;
	background: url(images/icon_instagram.png) no-repeat;
	background-size: contain;
}

.c-icon-user {
	border-radius: 50%;
}

.p-content {
	position: relative;
	top: -60px;
}

.p-content-entry-thumb {
	position: relative;
}

.p-content-entry-title {
	position: absolute;
	bottom: 8px;
	padding: 0 16px;
	line-height: 32px;
	font-size: 1.5rem;
	color: #fff;
}

.p-article {
	width: 100%;
	padding: 0 16px;
	margin: 0 auto;
}

.p-article .hd2 {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	font-size: 1rem;
	line-height: 24px;
	letter-spacing: 1.8px;
	color: #555;
}

.p-article p {
	padding-top: 8px;
	font-size: 0.875rem;
	color: #555;
	line-height: 22px;
	letter-spacing: 3.4px;
	-webkit-font-smoothing: antialiased;
}

.p-article li {
	-webkit-font-smoothing: antialiased;
}

.p-article img {
	border-radius: 4px;
}

.p-thumbnail-hd2 {
	padding-top: 8px;
}

.p-articleBlock,
.p-thumbnail {
	padding-bottom: 32px;
}

.p-thumbnailImg img + img {
	padding-top: 4px;
}

.p-thumbnailListImg {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 8px 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	padding-top: 8px;
}

.p-thumbnailListImg li {
	position: relative;
	counter-increment: list;
}

.p-thumbnailListImg li:first-child {
	-ms-grid-column-span: 2;
	grid-column: span 2;
	-ms-grid-row-span: 2;
	grid-row: span 2;
}

.p-thumbnailListImg li::before {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 0.875rem;
	color: #fff;
	content: counter(list, decimal-leading-zero);
}

.p-thumbnailListLead {
	padding-top: 16px;
	font-size: 0.75rem;
	line-height: 1.8;
}

.p-thumbnailListLead li {
	counter-increment: section;
	padding-left: 2.8em;
	text-indent: -3.5em;
	letter-spacing: 3.4px;
}

.p-thumbnailListLead li::before {
	content: counter(section, decimal-leading-zero);
	padding: 0 10px;
}

.p-thumbnailListLead li + li {
	padding-top: 12px;
}

.p-infoList li {
	color: #555;
}

.p-infoList .p-infoIcon {
	position: relative;
	padding-left: 44px;
	margin-top: 16px;
	font-size: 1rem;
	line-height: normal;
}

.p-infoList .p-infoIcon::before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: 20px;
}

.p-infoList .p-infoIcon.-address::before {
	background-image: url(images/icon_spot.svg);
}

.p-infoList .p-infoIcon.-tel::before {
	background-image: url(images/icon_phone.svg);
}

.p-infoList .p-infoIcon.-url::before {
	background-image: url(images/icon_internet.svg);
}

.p-infoList .p-infoIcon.-url a {
	color: #65B2F6;
	text-decoration: underline;
}

.p-traveler-name {
	font-size: 18px;
	margin: 0 0 20px;
	padding: 0 0 0 40px;
	position: relative;
}

.p-traveler-name::before {
	content: '';
	width: 35px;
	height: 35px;
	position: absolute;
	background-size: contain;
	border-radius: 50%;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.p-traveler-name.-nami::before {
	background-image: url(images/icon_traveler_namiy_73.jpg);
}

.p-traveler-name.-aya::before {
	background-image: url(images/icon_traveler_hasegawa_aya.jpeg);
}

.p-traveler-name.-yuika::before {
	background-image: url(images/icon_traveler_yu_i_k_a.jpg);
}

.p-traveler-name.-hitomi::before {
	background-image: url(images/icon_traveler_yoshino_hitomi.jpg);
}

.p-traveler-name.-chiha::before {
	background-image: url(images/icon_traveler_chiha6710.jpg);
}

.p-traveler-name.-ayumi::before {
	background-image: url(images/icon_traveler_oayumi.jpg);
}

.p-grid-section {
	padding: 40px 0 0;
}

.p-item-hero {
	position: relative;
}

.p-item-title {
	position: absolute;
	bottom: 12px;
	padding: 0 16px;
	line-height: 32px;
	font-size: 1.5rem;
	color: #fff;
}

.p-item-buy {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 10;
}

.p-item-buy-btn {
	position: relative;
	width: 64px;
	height: 64px;
	background: #4682aa;
	border-radius: 50%;
}

.p-item-buy-btn img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 24px;
}

.p-item-box-head {
	padding-bottom: 20px;
	background: #FAFAFA;
}

.p-item-box-name {
	padding: 20px 16px 0;
}

.p-item-box-price {
	padding: 20px 16px 0;
	text-align: right;
}

.p-item-box-quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px 16px 0;
}

.p-item-box-button {
	padding: 40px 16px 0;
	text-align: center;
}

.p-item-box-button .skubutton {
	width: 100%;
	background: #327FAA;
	color: #fff;
}

.p-item-box-info .item-sku {
	padding: 20px 16px;
}

.p-info .hd2 {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	font-size: 1rem;
}

.p-infoItem {
	padding: 16px;
	margin-top: 8px;
	background: #fafafa;
}

.p-infoItem_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin-top: 4px;
}

.p-infoItem_list dt,
.p-infoItem_list dd {
	line-height: 24px;
	background: #fff;
}

.p-infoItem_list dt {
	width: 100%;
	max-width: 84px;
	padding: 8px 16px;
	margin-right: 4px;
	font-size: 0.875rem;
	font-weight: 600;
}

.p-infoItem_list dd {
	width: 100%;
	padding: 8px;
	font-size: 1rem;
}

.p-infoItem_list:first-child {
	margin-top: 0;
}

.p-infoItem_listSizes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.p-infoItem_listSize {
	display: inline-block;
	width: 56px;
	height: 24px;
	padding: 4px 0;
	margin: 0 2px;
	text-align: center;
	background: #f1f0ec;
	border-radius: 12px;
	line-height: 16px;
}

.p-infoItem_listColor {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	vertical-align: top;
}

.p-infoItem_listColor + .p-infoItem_listColor {
	margin-left: 10px;
}

.p-infoItem_listColor.color-red {
	background: #f55e40;
}

.p-infoItem_listColor.color-yellow {
	background: #f8ee6a;
}

.p-modal-content {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 20;
	display: none;
	width: 88%;
	margin: 0 auto;
	padding-bottom: 28px;
	background: #fff;
}

.p-modal-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 120%;
	background-color: rgba(0, 0, 0, 0.3);
}

.p-more-btn {
	display: block;
	width: 100%;
	background-color: #efeee9;
	font-size: 14px;
	padding: 15px 0;
	text-align: center;
	color: #4a626f;
	border: 0;
}

.p-more {
	padding: 0 4px;
	margin: 15px 0 0;
}

.loader {
	font-size: 10px;
	margin: 15px auto;
	text-indent: -9999em;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #898989;
	background: -webkit-linear-gradient(left, #898989 10%, rgba(137, 137, 137, 0) 42%);
	background: -webkit-gradient(linear, left top, right top, color-stop(10%, #898989), color-stop(42%, rgba(137, 137, 137, 0)));
	background: linear-gradient(to right, #898989 10%, rgba(137, 137, 137, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.loader:before {
	width: 50%;
	height: 50%;
	background: #898989;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

.loader:after {
	background: #ffffff;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.p-related {
	padding: 32px 16px 40px;
}

.p-related-title {
	padding-bottom: 4px;
	border-bottom: 1px solid #ccc;
	font-size: 1rem;
}

.p-related-list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 8px 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	padding-top: 8px;
}

.p-related-list li:first-child {
	-ms-grid-column-span: 2;
	grid-column: span 2;
	-ms-grid-row-span: 2;
	grid-row: span 2;
}

.p-related-list img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	vertical-align: bottom;
}

.p-related .detail {
	display: none;
}

.p-search {
	padding-top: 24px;
}

.p-search-title {
	font-size: 0.875rem;
}

.p-search-list {
	padding-top: 24px;
}

.p-tab {
	width: 100%;
	padding: 0 8px;
	margin: 0 auto;
}

.p-tab-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.p-tab-list li {
	width: 50%;
	padding-bottom: 4px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #ccc;
	font-size: 1rem;
}

.p-tab-list li.is-current {
	border-bottom: 1px solid #4A90E2;
}

.p-tab-container {
	padding-top: 16px;
}

.p-tab-contents {
	display: none;
}

.p-tab-contents.is-current {
	display: block;
}

.p-tag-list {
	position: absolute;
	top: 5px;
	right: 5px;
}

.p-tag-lite__item {
	right: 0;
	top: 0;
	margin: 0 0 5px;
	position: absolute;
	width: 20px;
	height: 20px;
	content: '';
	background-size: contain;
	text-indent: -9999em;
	border-radius: 50%;
	background-color: #fff;
	z-index: 30;
}

.p-tag-lite__item:empty {
	display: none;
}

.p-tag-lite__item::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 10px;
	height: 10px;
	background-size: contain;
	background-repeat: no-repeat;
}

.p-tag-lite__item.ファッション::before {
	background-image: url(images/icon_fashion.svg);
}

.p-tag-lite__item.料理::before {
	background-image: url(images/icon_food.svg);
}

.p-tag-lite__item.Spot::before {
	background-image: url(images/icon_spot.svg);
}

.p-tag-lite__item.東京::before {
	width: 18px;
	height: 18px;
	background-image: url(images/icon_japan.png);
}

.p-tag-lite__item.ソウル::before {
	width: 18px;
	height: 18px;
	background-image: url(images/icon_korea.png);
}

.p-tag-lite__item.バンコク::before {
	width: 18px;
	height: 18px;
	background-image: url(images/icon_thailand.png);
}

.p-tag-lite__item.バリ::before {
	width: 18px;
	height: 18px;
	background-image: url(images/icon_indonesia.png);
}

.p-tag__price {
	background-color: rgba(255, 255, 255, 0.8);
	color: #333;
	font-size: 12px;
	position: absolute;
	bottom: 3px;
	right: 3px;
	padding: 5px 12px;
	border-radius: 5px;
}

.p-tag__price:empty {
	display: none;
}

.p-traveler-post {
	position: relative;
}

.p-traveler-post__price {
	background-color: rgba(255, 255, 255, 0.8);
	color: #333;
	font-size: 12px;
	position: absolute;
	bottom: 3px;
	right: 3px;
	padding: 5px 12px;
	border-radius: 5px;
}

.p-traveler-post__item {
	position: relative;
}

.p-user {
	width: 100%;
	padding: 32px 16px;
	margin: 0 auto;
	text-align: center;
	background: #f1f0ec;
}

.p-user-icon {
	width: 64px;
	height: 64px;
}

.p-user-iconWrap {
	width: 100%;
	margin: 0 auto;
}

.p-user_name {
	padding-top: 16px;
	font-size: 1.25rem;
}

.p-user_description {
	padding-top: 16px;
	font-size: 14px;
	line-height: 24px;
}

.p-user_account {
	padding-top: 16px;
}

.p-taxonomy-img {
	width: 64px;
	height: 64px;
	padding: 2px;
	margin: 0 auto;
	text-align: center;
	background: #ebebe9;
	border-radius: 50%;
}

.p-taxonomy-img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.p-category-head {
	padding: 0 16px 36px;
}

.p-category-user-title {
	padding-top: 16px;
	text-align: center;
	font-size: 1.25rem;
}

.p-category-user-description {
	padding-top: 16px;
	line-height: 24px;
}

.p-category-user-instagram {
	padding-top: 16px;
}

.p-category-user-instagramLink {
	display: block;
}

.p-category-user-instagramInner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.p-category-user-instagramIcon {
	padding-right: 8px;
}

.p-category-user-instagramIcon img {
	width: 24px;
	height: 24px;
}

.p-category-user-instagramName {
	font-size: 0.875rem;
	color: #333;
}

@media screen and (min-width: 768px) {

html {
	font-size: 16px;
}

}

@-webkit-keyframes load3 {

0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

@keyframes load3 {

0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

