// 記事ページ
.p-content {
  position: relative;
  top: -60px;
  &-entry-thumb {
    position: relative;
  }
  &-entry-title {
    position: absolute;
    bottom: 8px;
    padding: 0 16px;
    line-height: 32px;
    font-size: _rem(24px);
    color: #fff;
  }
}
.p-article {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  .hd2 {
    padding-bottom: 5px;
    border-bottom: 1px solid $article-subTitle-border;
    font-size: _rem(16px);
    line-height: 24px;
    letter-spacing: 1.8px;
    color: #555;
  }
  p {
    padding-top: 8px;
    font-size: _rem(16px);
    color: $text-color;
    line-height: 22px;
  }
}
.p-thumbnail-hd2 {
  padding-top: 8px;
}
.p-articleBlock,
.p-thumbnail {
  padding-bottom: 32px;
}
.p-thumbnailListImg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding-top: 8px;
  li {
    position: relative;
    counter-increment: list;
    &:first-child {
      grid-column: span 2;
      grid-row: span 2;
    }
    &::before {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: _rem(14px);
      color: $article-thumbnail-color;
      content: counter(list, decimal-leading-zero);
    }
  }
}
.p-thumbnailListLead {
  padding-top: 16px;
  font-size: _rem(14px);
  line-height: 1.8;
  li {
    counter-increment: section;
    padding-left: 2.4em;
    text-indent: -3.2em;
    letter-spacing: 3.4px;
    &::before {
      content: counter(section, decimal-leading-zero);
      padding: 0 10px;
    }
    & + li {
      padding-top: 16px;
    }
  }
}
.p-infoList {
  .p-infoIcon {
    position: relative;
    padding-left: 44px;
    margin-top: 16px;
    font-size: _rem(16px);
    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: 20px;
    }
    &.-address::before {
      background-image: url(images/icon_spot.svg);
    }
    &.-tel::before {
      background-image: url(images/icon_phone.svg);
    }
    &.-url::before {
      background-image: url(images/icon_internet.svg);
    }
    &.-url a {
      color: #65B2F6;
    }
  }
}
