// 商品ページ

.p-item-page {

}
.p-item-hero {
  position: relative;
}

.p-item-title {
  position: absolute;
  bottom: 12px;
  padding: 0 16px;
  line-height: 32px;
  font-size: _rem(24px);
  color: #fff;
}
.p-item-buy {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  &-btn {
    position: relative;
    width: 64px;
    height: 64px;
    background: #4682aa;
    border-radius: 50%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
    }
  }
}
.p-item-box-head {
  padding-bottom: 20px;
   background: #FAFAFA;
 }
.p-item-box-name {
  padding: 20px 16px 0;
}
.p-item-box-price {
  padding: 20px 16px 0;
  text-align: right;
}
.p-item-box-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px 0;
  .skuquantity {
    //margin-top: 12px;
  }
}
.p-item-box-button {
  padding: 40px 16px 0;
  text-align: center;
  .skubutton {
    width: 100%;
    background: #327FAA;
    color: #fff;
  }
}
.p-item-box-info{
  .item-sku {
    padding: 20px 16px;
  }
}

.p-info {
  .hd2 {
    padding-bottom: 5px;
    border-bottom: 1px solid $article-subTitle-border;
    font-size: _rem(16px);
  }
}
.p-infoItem {
  padding: 16px;
  margin-top: 8px;
  background: #fafafa;
}
.p-infoItem_list {
  display: flex;
  align-items: stretch;
  margin-top: 4px;
  dt,
  dd {
    line-height: 24px;
    background: #fff;
  }
  dt {
    width: 100%;
    max-width: 84px;
    padding: 8px 16px;
    margin-right: 4px;
    font-size: _rem(14px);
    font-weight: 600;
  }
  dd {
    width: 100%;
    padding: 8px;
    font-size: _rem(16px);
  }
  &:first-child {
    margin-top: 0;
  }
}
.p-infoItem_listSizes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.p-infoItem_listSize {
  display: inline-block;
  width: 56px;
  height: 24px;
  padding: 4px 0;
  margin: 0 2px;
  text-align: center;
  background: #f1f0ec;
  border-radius: 12px;
  line-height: 16px;
}
.p-infoItem_listColor {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: top;
  & + .p-infoItem_listColor {
    margin-left: 10px;
  }
  &.color-red {
    background: #f55e40;
  }
  &.color-yellow {
    background: #f8ee6a;
  }
}
