.login {
  #content {
    padding: 0 16px;
  }

  .member_page_title {
    display: none;
  }

  #wc_login {
    .loginbox {
      padding: 0;

      .loginmail,
      .loginpass {
        margin-bottom: 8px;
      }
      .member-box {

        .title {
          padding-bottom: 16px;
          font-size: 12px;
        }

        .loginform {
          padding: 0 12px;

          input {
            border: 2px solid #ccc;
            border-radius: 4px;
          }

          input[type="text"],
          input[type="password"] {
            width: 100%;
            padding: 16px;
          }

          input[type="checkbox"] {
            background: #fff;
            border: 1px solid #757575;
          }

          ::placeholder {
            font-size: 12px;
          }

          .checkbox {
            display: none;
          }

          .checkbox:checked + .checkbox-text::after {
            content: "";
            display: block;
            position: absolute;
            top: -5px;
            left: 5px;
            width: 7px;
            height: 14px;
            transform: rotate(40deg);
            border-bottom: 3px solid #4682aa;
            border-right: 3px solid #4682aa;
          }

          .checkbox-text {
            position: relative;
            padding-left: 20px;

            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 15px;
              height: 15px;
              border: 1px solid #757575;
              border-radius: 4px;
            }
          }

          .submit {
            padding: 24px 0 0;
          }

          .member_login_button {
            width: 100%;
            padding: 10px 14px;
            font-size: 14px;
            line-height: 16px;
          }
        }

        #nav {
          padding-top: 16px;
          text-align: center;

          a {
            background: none;
            font-size: 12px;
          }
        }
      }
      .new-entry {
        padding: 0 12px;
        margin: 64px 0 0;
        background: none;
        .title {
          font-size: 12px;
        }
        #nav a {
          width: 100%;
          padding: 10px 14px;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
