// マイページ
#wc_login .loginbox input.loginmail, #wc_login .loginbox input.loginpass, #wc_member .loginbox input.loginmail, #wc_member .loginbox input.loginpass, #wc_lostmemberpassword .loginbox input.loginmail, #wc_changepassword .loginbox input.loginpass, #wc_changepassword .loginbox input.loginpass {
  padding: 10px;
}
#wc_lostmemberpassword .loginbox label {
  font-size: 14px;
}
#wc_lostmemberpassword {
   #member_login,
   #nav a {
    min-width: 124px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    font-size: 12px;
  }
  div {
    font-size: 12px;
  }
}
#memberinfo th {
  font-size: 14px;
}
#memberinfo td {
  font-size: 12px;
  padding-top: 8px;
}
#memberinfo h3 {
  margin-top: 36px;
  font-size: 14px;
}

.history-area {
  padding-top: 12px;
}

.member_submenu {
  a {
    min-width: 124px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    font-size: 12px;
  }
}

.member_page_title {
  padding-top: 16px;
}

#memberinfo .customer_form {
  margin-top: 12px;
}
#memberinfo .customer_form th {
  font-size: 12px;
}
#memberinfo .customer_form td {
  margin-top: 4px;
}
#wc_newmemberform,
#wc_member {
  .deletemember {
    display: none;
  }
  .customer_form input[type="password"] {
    margin-bottom: 4px;
  }
  .send input {
    min-width: 124px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    font-size: 12px;
  }
  .send {
    .top {
      background-color: rgba(239, 239, 239, 1 )!important;
    }
  }
}

#wc_newmemberform {
  .header_explanation {
    li {
      font-size: 12px;
      line-height: 1.5;
    }
  }
}

.agree_member_area .at_exp_text {
  font-size: 12px;
}
.at_check_area {
  input {
    position: relative;
    top: 2px;
  }
  label {
    font-size: 12px;
  }
}

.password {
  input {
    margin-bottom: 4px;
  }
}


//.no-customize-support {
//  .p-header {
//    display: none;
//  }
//  .p-main {
//    margin-top: -94px;
//  }
//}
//
//.member {
//  #content {
//    padding: 0;
//  }
//  .logo {
//    width: 80px;
//    height: 38px;
//    margin: 50px auto 10px;
//  }
//}
//
//// 新規登録
//.member_page_title,
//.header_explanation {
//  display: none;
//}
//
//// form
//.customer_form {
//  em {
//    display: none;
//  }
//  tr {
//    padding: 0;
//    margin: 0;
//  }
//  td {
//    input {
//      width: 100%;
//      border: 2px solid #efefef;
//    }
//  }
//  .tr {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    padding: 16px;
//  }
//  .th,
//  .td {
//    margin-bottom: 0;
//    font-size: 12px;
//    color: #555;
//  }
//  .th {
//    width: 42%;
//    padding-left: 8px;
//  }
//  .td {
//    width: 58%;
//  }
//  #furikana_row {
//    display: none;
//  }
//  .section {
//    padding-top: 40px;
//    th {
//      padding-bottom: 7px;
//      padding-left: 8px;
//      font-size: 12px;
//    }
//  }
//  .pref {
//    width: 100%;
//    border: 2px solid #efefef;
//  }
//  select {
//    color: #555;
//  }
//}
//
//// メンバー情報変更ページ
//.member_icon {
//  width: 40px;
//  height: 40px;
//  margin: 46px auto 0;
//}
//.member_name {
//  padding-top: 26px;
//  text-align: center;
//  font-size: 20px;
//}
//#wc_member h3 {
//  font-size: 12px;
//}
//#memberinfo table {
//  border: none;
//}
//#memberinfo #history_head td {
//  text-align: center;
//  border: none;
//}
//.edit {
//  display: none;
//}
//#memberinfo table tr {
//  display: flex;
//}
//#memberinfo .customer_form th {
//  padding-left: 8px;
//}
//#memberinfo .customer_form .caution {
//  padding: 4px 0 0 8px;
//  border-bottom: none;
//  font-size: 12px;
//}
//.customer_form input[type="text"] {
//  margin-right: 0;
//}
//.customer_form input#mailaddress1,
//.customer_form input#mailaddress2 {
//  width: 100%;
//}
//.form_header {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  .top,
//  .editmember {
//    padding: 8px 10px;
//    background: none;
//    font-size: 14px;
//    color: #546E7A;
//    &:hover {
//      background: none;
//    }
//  }
//}
//.member-page #memberinfo .send input.deletemember {
//  padding: 8px 10px;
//  background: none!important;
//  font-size: 14px;
//  color: #546E7A;
//  &:hover {
//    background: none;
//  }
//}
//.error_message {
//  padding-left: 8px;
//}
