// 関連記事
.p-related {
  padding: 32px 16px 40px;
  &-title {
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
    font-size: _rem(16px);
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding-top: 8px;
    li {
      &:first-child {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: bottom;
    }
  }
  .detail {
    display: none;
  }
}
