.p-tag-list {
  position: absolute;
  top: 5px;
  right: 5px;
}

.p-tag-lite__item {
  right: 0;
  top: 0;
  margin: 0 0 5px;
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  background-size: contain;
  text-indent: -9999em;
  border-radius: 50%;
  background-color: #fff;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &.ファッション {
    &::before {
      background-image: url(images/icon_fashion.svg);
    }
  }
  &.料理 {
    &::before {
      background-image: url(images/icon_food.svg);
    }
  }
  &.Spot {
    &::before {
      background-image: url(images/icon_spot.svg);
    }
  }
  &.東京 {
    &::before {
      width: 18px;
      height: 18px;
      background-image: url(images/icon_japan.png);
    }
  }
  &.ソウル {
    &::before {
      width: 18px;
      height: 18px;
      background-image: url(images/icon_korea.png);
    }
  }
  &.バンコク {
    &::before {
      width: 18px;
      height: 18px;
      background-image: url(images/icon_thailand.png);
    }
  }
  &.バリ {
    &::before {
      width: 18px;
      height: 18px;
      background-image: url(images/icon_indonesia.png);
    }
  }
}

.p-tag__price {
  background-color: rgba(255,255,255,0.8);
  color: #333;
  font-size: 12px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  padding: 5px 12px;
  border-radius: 5px;
  &:empty {
    display: none;
  }
}
