.p-traveler-post {
  position: relative;
}

.p-traveler-post__price {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 12px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  padding: 5px 12px;
  border-radius: 5px;
}

.p-traveler-post__item {
  position: relative;
}
