// 投稿者情報
.p-user {
  width: 100%;
  padding: 32px 16px;
  margin: 0 auto;
  text-align: center;
  background: #f1f0ec;
  &-icon {
    width: 64px;
    height: 64px;
  }
  &-iconWrap {
    width: 100%;
    margin: 0 auto;
  }
  &_name {
    padding-top: 16px;
    font-size: _rem(20px);
  }
  &_description {
    padding-top: 16px;
    font-size: 14px;
    line-height: 24px;
  }
  &_account {
    padding-top: 16px;
  }
}

// カテゴリーページの投稿者情報
.p-taxonomy-img {
  width: 64px;
  height: 64px;
  padding: 2px;
  margin: 0 auto;
  text-align: center;
  background: #ebebe9;
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}
.p-category {
  &-head {
    padding: 0 16px 36px;
  }
  &-user-title {
    padding-top: 16px;
    text-align: center;
    font-size: _rem(20px);
  }
  &-user-description {
    padding-top: 16px;
    line-height: 24px;
  }
  &-user-instagram {
    padding-top: 16px;
  }
  &-user-instagramLink {
    display: block;
  }
  &-user-instagramInner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-user-instagramIcon {
    padding-right: 8px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  &-user-instagramName {
    font-size: _rem(14px);
    color: #333;
  }
}
