.l-header {
  width: 100%;
  margin: 0 auto;
  border-bottom: none;
  &-column {
    display: flex;
  }
}

.p-header {
  &-inner {
    padding: 18px 20px;
  }
  &-logo {
    width: 60px;
    margin-right: auto;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-nav-unshown {
    display: none;
  }
  &-icon {
    width: 24px;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &-search {
    position: relative;
  }
}

// ドロワーメニュー
.p-drawer {
  display: none;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  &-inner {
    padding: 56px 16px;
  }
  &-searchBox {
    .s-box {
      position: relative;
      display: block;
      width: 100%;
    }
    input[type="text"] {
      width: 100%;
      height: 32px;
      line-height: 32px;
      padding: 0 12px;
      background: #eee;
      border: none;
      border-radius: 32px;
    }
    #searchsubmit {
      position: absolute;
      top: 9px;
      right: 12px;
      background: url(images/icon_search.png) no-repeat;
      background-size: contain;
      border: none;
    }
  }
  &-nav {
    padding-top: 32px;
    &-item {
      &:not(:first-child) {
        padding-top: 40px;
      }

    }
    &-item-title {
      font-size: _rem(20px);
    }
    &-item-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 16px;
      &::before {
        content: "";
        display: block;
        width: 23%;
        order: 1;
      }
      &::after {
        content: "";
        display: block;
        width: 23%;
      }
      li {
        width: 23%;
        padding: 16px 0;
      }
      a {
        display: block;
      }
      img {
        display: block;
        width: 48px;
        height: 48px;
        margin: 0 auto;
        border-radius: 100%;
      }
    }
    &-item-list-name {
      display: block;
      padding-top: 8px;
      text-align: center;
      font-size: _rem(12px);
    }
  }
}

.p-category-nav {
  overflow-x: scroll;
}
.p-category-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 200%;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 72px;
    a {
      display: block;
      &::before {
        display: block;
        content: '';
        width: 48px;
        height: 48px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: 48px;
        border-radius: 50%;
      }
      &.-pickup::before {
        background-image: url(images/icon_traveler_hasegawa_aya.jpeg);
      }
      &.-traveler::before {
        background-image: url(images/icon_traveler_yoshino_hitomi.jpg);
      }
      &.-country::before {
        background-image: url(images/icon_traveler_namiy_73.jpg);
      }
      &.-fashion::before {
        background-image: url(images/icon_traveler_yu_i_k_a.jpg);
      }
      &.-food::before {
        background-image: url(images/icon_traveler_chiha6710.jpg);
      }
      &.-spot::before {
        background-image: url(images/icon_traveler_oayumi.jpg);
      }
      &.-all::before {
        background-image: url(images/icon_traveler_yoshino_hitomi.jpg);
      }
    }
  }
  &-name {
    display: inline-block;
    width: 100%;
    padding-top: 8px;
    text-align: center;
  }
}
