// アカウント
.c-account {
  &_link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -32px;
      margin: auto;
      display: inline-block;
      content: '';
      width: 24px;
      height: 24px;
      background: url(images/icon_instagram.png) no-repeat;
      background-size: contain;
    }
  }
}
