.test {
	text-align: center;
	pointer-events: none;
	background-color: blue;
}

.row-start {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[6];
	grid-template-columns: repeat(6, 1fr);
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto;
}

.row-start > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.row-start > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

.row-start > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.row-start > *:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 4;
}

.row-start > *:nth-child(5) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.row-start > *:nth-child(6) {
	-ms-grid-row: 1;
	-ms-grid-column: 6;
}

.row-start > *:nth-child(7) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.row-start > *:nth-child(8) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

.row-start > *:nth-child(9) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}

.row-start > *:nth-child(10) {
	-ms-grid-row: 2;
	-ms-grid-column: 4;
}

.row-start > *:nth-child(11) {
	-ms-grid-row: 2;
	-ms-grid-column: 5;
}

.row-start > *:nth-child(12) {
	-ms-grid-row: 2;
	-ms-grid-column: 6;
}

