@import '../foundation/function/_rem';
@import '../foundation/variable/_breakpoint';
@import '../foundation/mixin/_mediaquery';
@import '../foundation/variable/_path';
@import '../foundation/variable/_color';

body {
  font-family: sans-serif;
  color: #555;
}

html {
  font-size: map-get($_font-size, sm);
  @include _mq-min() {
    font-size: map-get($_font-size, md);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
